node_modules
dist
dev-dist
.env
.gsd_backup/
*.log
err.txt
discuss.txt
progress.txt
build_error.txt
state.json
ip2.json
rp*.json
init.json
roadmap.json
firebase_config.txt
firebase_sdk.json
cors.json
.DS_Store
